<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
</head>
<section class="form-contact">
    <header>
        <span>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </span>
    </header>
    <body>
        <div class="container-form">
            <div class="info-form">
                <h2 class="title">Contáctanos</h2>
                <p>Bienvenido a nuestra pagina de contactos cualquier duda o mensaje que tengas puedes hacerlo en el espacio de consultas a la derecha</p>
                <p href="#"><i class="fa fa-phone"></i> 2996208511</p>
                <p href="#"><i class="fa fa-envelope"></i> Gpets30@gmail.com</p>
                <p href="#"><i class="fa fa-envelope"></i> oficialpetware@gmail.com</p>
                <p href="#"><i class="fa fa-map-marked"></i> Cipolletti, RN, Argentina</p>
            </div>
            <form action="https://formsubmit.co/thiagozuazo2016@gmail.com" method="post" class="form-group">
                <input type="text" name="nombre" placeholder="Tu Nombre" class="form-style">
                <input type="emal" name="email" placeholder="Tu Email" class="form-style">
                <textarea name="mensaje" class="form-style" placeholder="Tu Mensaje..."></textarea>
                <input type="submit" name="enviar" value="Enviar Mensaje" class="btn mt-4">
            </form>
        </div>
    </body>
</section>