<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
</head>
<section class="form-contact">
    <header>
        <span>
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </span>
    </header>
    <body>
        <div class="container-form">
            <div class="info-form">
                <h2>Contáctanos</h2>
                <p>bienvenido a nuestra pagina de contactos cualquier duda o mensaje que tengas haznoslo saber</p>
                <p href="#"><i class="fa fa-phone"></i> 2996208511</p>
                <p href="#"><i class="fa fa-envelope"></i> GpeTS30@gmail.com</p>
                <p href="#"><i class="fa fa-map-marked"></i> cipolletti, argentina</p>
            </div>
            <form action="https://formsubmit.co/thiagozuazo2016@gmail.com" method="post">
                <input type="text" name="nombre" placeholder="Tu Nombre" class="campo">
                <input type="emal" name="email" placeholder="Tu Email" class="campo">
                <textarea name="mensaje" placeholder="Tu Mensaje..."></textarea>
                <input type="submit" name="enviar" value="Enviar Mensaje" class="btn-enviar">
            </form>
        </div>
    </body>
</section>