<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="title">Listado de Empleados</span>
            <button class="btn btn-dark float-right btn-lg"  routerLink="/crear-empleado">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre y Apellido</th>
                    <th>DNI</th>
                    <th>Domicilio</th>
                    <th>Telefono</th>
                    <th>Departamento</th>
                    <th>Puesto</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- ngFor recorre el array-->
                  <tr *ngFor="let empleado of empleados">
                    <td>{{ empleado.name }}</td>
                    <td>{{ empleado.dni }}</td>
                    <td>{{ empleado.address }}</td>
                    <td>{{ empleado.number }}</td>
                    <td>{{ empleado.department }}</td>
                    <td>{{ empleado.job }}</td>
                    <td><i class="fa fa-pencil fa-lg text-info mr-2" [routerLink]="['/editar-empleado/', empleado.id]" aria-hidden="true"></i>
                      <!-- el metodo necesita recibir empleado 
                      e id para eliminarlo al hacer click -->
                    <i (click)="eliminarEmpleado(empleado.id)" class="fa fa-trash fa-lg text-danger" aria-hidden="true"></i></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

