<div class="container pt-4">
    <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
                <div class="card-3d-wrap mx-auto">
                    <div class="card-3d-wrapper">
                        <div class="card-front">
                            <div class="center-wrap">
                                <div class="section text-center">
                                    <h4 class="mb-4 pb-3">{{ titulo }}</h4>
                                    <!-- solo se va a mostrar cuando submit sea verdadera o los campos
                                    del formulario sean invalidos -->
                                    <span *ngIf="submitted && crearEmpleado.invalid" class="badge badge-danger">TODOS
                                        LOS CAMPOS SON OBLIGATORIOS</span>
                                    <form class="mt-4" [formGroup]="crearEmpleado" (ngSubmit)="agregarEditarEmpleado()">
                                        <div class="form-group mt-3">
                                            <input class="form-style" type="text" formControlName="name"
                                                placeholder="Ingrese apellido y nombre">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input class="form-style" type="number" formControlName="dni"
                                                placeholder="Ingrese DNI">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input class="form-style" type="text" formControlName="department"
                                                placeholder="Ingrese departamento al que pertenece">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input class="form-style" type="text" formControlName="address"
                                                placeholder="Ingrese domicilio">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input class="form-style" type="number" formControlName="number"
                                                placeholder="Ingrese número telefónico">
                                        </div>
                                        <div class="form-group mt-3">
                                            <input class="form-style" type="text" formControlName="job"
                                                placeholder="Ingrese puesto laboral">
                                        </div>
                                        <div class="mt-3">
                                            <button type="text" class="btn btn-secondary btn-lg mr-3"
                                                routerLink="/empleados">Volver</button>
                                            <button type="submit" class="btn btn-dark btn-lg">
                                                Agregar
                                                <div *ngIf="loading" class="spinner-border float-right" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>